*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    background-image: url(imG/lidye-1Shk_PkNkNw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;

}
.nav-bar{
    display: flex;
    padding: 30px 100px;
}
.nav-logo img{
    width: 130px;
}
.nav-link{
    flex: 1;
}
.nav-link li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-link ul a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-link ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 5px 10px;
    border: 0;
    background: yellow;
    font-weight: bolder;
    cursor: pointer;
    
}
.na-link .btn{
    float: left;
}
.banner h1{
    color: white;
    font-size: 64px;
    margin-bottom: 30px;
}
.banner{
    margin: 80px 130px;

}
.banner h1 span{
    color: yellow;
}
.vertical{
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    position: absolute;
}
.search{
    height: 60%;
    width: 80px;
}
.search .fa{
    margin: 45px 23px;
    display: block;
    color: burlywood;
    font-size: 30px;
    cursor: pointer;
}
.social{
    height: 35%;
    width: 80px;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;

}
